@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
}
/* .gradient{
    
    background: #000000;
    background: linear-gradient(36deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(240, 120, 50, 1) 100%);
    
} */

